<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	android:versionCode="110"
	android:versionName="1.1.0">
	
    <uses-feature android:name="android.hardware.location.gps" android:required="true" />
	
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="ACCESS_BACKGROUND_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<supports-screens android:resizeable="true"
                  android:smallScreens="true"
                  android:normalScreens="true" 
                  android:largeScreens="true"/>

	<application
		android:name=".ApplicationSingleton"
	    android:icon="@drawable/icon"
	    android:label="@string/app_name"
		android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
	    android:allowBackup="true">
		
		<activity android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".OnboardingActivity" android:label="@string/welcome_name"/>
		<activity android:name=".ShowWelcomePage" android:label="@string/welcome_name"/>
		<activity android:name=".SettingsActivity" android:label="@string/settings_name"/>
		<activity android:name=".VoiceNoteActivity" android:label="@string/voicenote_name"/>
		<activity android:name=".TextNoteActivity" android:label="@string/textnote_name"/>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="jpstrack.android.provider"
			android:exported="false"
			android:grantUriPermissions="true"
			tools:replace="android:authorities">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/provider_paths"
				tools:replace="android:resource" />
		</provider>

	</application>

</manifest> 
